In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [21]:
url = "https://en.wikipedia.org/wiki/Salaries_of_government_officials_in_India"
page = requests.get(url)
soup = BeautifulSoup(page.text,'html.parser')

In [39]:
# IMPORT A  TITLE OF WEBSIT
# <h1 id="firstHeading" class="firstHeading mw-first-heading">…</h1>
page_label = soup.find(class_="firstHeading") # page_label = soup.find(class_= "h1 id")
# print(page_label.text)
for label in page_label:
    print(label.text)    # print(page_label.text) # here we print label in text format # __.text is complusory

Salaries of government officials in India

In [54]:
# import the table title from website
Table = soup.find(class_ = "wikitable")
# print(Table)
table_title = Table.find_all("th")
#print(table_title)
# use list compresion for import all label form tabel of website
Salary_of_gov = [title.text.strip() for title in table_title]
print(Salary_of_gov)

['Position in the Indian order of precedence', 'Post', 'Net Salary per month (including other emoluments and allowances)', 'All  emoluments and allowances', 'References']

In [58]:
df = pd.DataFrame(columns = Salary_of_gov)
df

Empty DataFrame
Columns: [Position in the Indian order of precedence, Post, Net Salary per month (including other emoluments and allowances), All  emoluments and allowances, References]
Index: []

In [59]:
print(df)

Empty DataFrame
Columns: [Position in the Indian order of precedence, Post, Net Salary per month (including other emoluments and allowances), All  emoluments and allowances, References]
Index: []

In [60]:
df = df.rename(columns={'Net Salary per month (including other emoluments and allowances)': 'Net Salary per month'})

In [61]:
df

Empty DataFrame
Columns: [Position in the Indian order of precedence, Post, Net Salary per month, All  emoluments and allowances, References]
Index: []

In [96]:
rows_data = []
columns_data = Table.find_all("tr")
# print(columns_data)
for rows in columns_data[1:]:
    row_data = rows.find_all('td')
    gov_row_data = [data.text.strip() for data in row_data]
    if len(gov_row_data) == len(Salary_of_gov):  # Ensure the row has the correct number of columns
        rows_data.append(gov_row_data)
    else:
        print(f"Skipping row: {gov_row_data} due to length mismatch.")

Skipping row: ['9', 'Judges of the Supreme Court', '₹250,000 (US$3,000)', '[10][11][14]'] due to length mismatch.
Skipping row: ['9A', 'Chief Election Commissioner', '[15][16][17]'] due to length mismatch.
Skipping row: ['Comptroller and Auditor General', ''] due to length mismatch.
Skipping row: ['Chairperson of the Union Public Service Commission', ''] due to length mismatch.
Skipping row: ['11', 'Attorney General', ''] due to length mismatch.
Skipping row: ['Cabinet Secretary', '[18][19][20]'] due to length mismatch.
Skipping row: ['Chiefs of Staff (Army, Air, Naval) in the rank of General and equivalent ranks in the Indian Armed Forces', '[21][19][20]'] due to length mismatch.
Skipping row: ['14', 'Chief Justices of High Courts', '[10][11]'] due to length mismatch.
Skipping row: ['16', 'Judges of High Courts', '₹225,000 (US$2,700)', '[10][11]'] due to length mismatch.
Skipping row: ['Chief Secretaries to State Governments', '[19][20]'] due to length mismatch.
Skipping row: ['25', 'Additional Secretaries to the Union Government\nRegistrar General/Registrar of the Supreme Court', '₹182,200 (US$2,200) (Minimum Pay) to ₹224,100 (US$2,700)  (Maximum Pay)[19][20]', '[19][20]'] due to length mismatch.
Skipping row: ['Principal Secretaries to the State Governments\nMembers of State Public Service Commissions\nRegistrar Generals/Registrars of High Courts', '[19][20]'] due to length mismatch.
Skipping row: ['26', 'Joint Secretaries to the Union Government\nMajor General and equivalent ranks in the Indian Armed Forces\nAdditional Registrars of the Supreme Court', '₹144,200 (US$1,700) (Minimum Pay) to ₹218,200 (US$2,600) (Maximum Pay)[19][20]', '[19][20]'] due to length mismatch.
Skipping row: ['Secretaries to State Governments', '[19][20]'] due to length mismatch.

In [98]:
# Add the extracted row data to the DataFrame
df = pd.DataFrame(rows_data, columns=Salary_of_gov)
df

,Position in the Indian order of precedence,Post,Net Salary per month (including other emoluments and allowances),All emoluments and allowances,References
0,1,President,"₹500,000 (US$6,000)",+ Other allowances fixed to the President.,[1][2][3]
1,2,Vice President,"₹400,000 (US$4,800)",+ Other allowances fixed to the Vice President.,[4][5][3]
2,3,Prime Minister,"₹166,000 (US$2,000)",+ Other allowances fixed to the Prime Minister.,[3][6]
3,4,Governors,"₹350,000 (US$4,200)",+ Other allowances fixed to Governors.,[7][8][9]
4,5,Chief Justice,"₹280,000 (US$3,400)",Not Applicable,[10][11][12][13]
5,21,Member of Parliament,"₹100,000 (US$1,200)[a]",+ Other allowances fixed to MPs.,[22][23]
6,23,Secretaries to the Union Government\nVice Chie...,"₹225,000 (US$2,700)",Not Applicable,[19][20]

In [99]:
df.to_csv(r'C:\Users\sarve\Web_scrap_csv_file\gov.salaries.csv',index=False)

In [103]:
import pandas as pd

# Correctly formatted file path with double backslashes
file_path = 'C:\\Users\\sarve\\Web_scrap_csv_file\\gov.salaries.csv'

# Read the CSV file
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
df.head()

,Position in the Indian order of precedence,Post,Net Salary per month (including other emoluments and allowances),All emoluments and allowances,References
0,1,President,"₹500,000 (US$6,000)",+ Other allowances fixed to the President.,[1][2][3]
1,2,Vice President,"₹400,000 (US$4,800)",+ Other allowances fixed to the Vice President.,[4][5][3]
2,3,Prime Minister,"₹166,000 (US$2,000)",+ Other allowances fixed to the Prime Minister.,[3][6]
3,4,Governors,"₹350,000 (US$4,200)",+ Other allowances fixed to Governors.,[7][8][9]
4,5,Chief Justice,"₹280,000 (US$3,400)",Not Applicable,[10][11][12][13]